<div class="legal pure-g-r">
    <div class="pure-u-2-5">
        <div class="l-box">
            <p class="legal-license">
                这是网站是使用Pure v{{pure_version}}建立的
            </p>
            <p class="legal-license">
                网站的所有代码是以<a href="http://yuilibrary.com/license/">BSD License</a>发布
            </p>
        </div>
    </div>

    <div class="pure-u-1-5">
        <div class="l-box legal-logo">
            <a href="http://yuilibrary.com/"><img src="/img/logo-footer.png" height="30" width="65" alt="YUI logo"></a>
        </div>
    </div>
    <div class="pure-u-2-5">
        <div class="l-box">
            <ul class="legal-links pure-g">
                <li class='pure-u-1-2'><a href="https://github.com/yui/pure/">GitHub项目</a></li>
                <li class='pure-u-1-2'><a href="http://yuilibrary.com/security/">联系信息</a></li>
            </ul>
            <p class="legal-copyright">&copy; {{copyright_year}} 由<a href="https://chensy0203.github.com/">@chensy0203</a>翻译</p>
        </div>
    </div>
</div>
