<table class="pure-table pure-table-bordered">
    <tbody>
        <tr>
            <td><h1>标题 1</h1></td>
            <td><h2>标题 2</h2></td>
            <td><h3>标题 3</h3></td>
        </tr>
        <tr>
            <td><h4>标题 4</h4></td>
            <td><h5>标题 5</h5></td>
            <td><h6>标题 6</h6></td>
        </tr>
    </tbody>
</table>
