<div class="pure-g-r">
    <div class="pure-u-1-2">
        <div class="l-box">
            <p>
                这是 <cite>cite 元素</cite> 的例子<br>
                这是 <code>code 元素</code> 的例子<br>
                这是 <del>del 元素</del> 的例子<br>
                这是 <dfn>dfn 元素</dfn> 和 <dfn title="这是标题">带标题的dfn 元素</dfn>的例子s<br>
                这是 <em>em 元素</em> 的例子<br>
                这是 <i>i 元素</i> 的例子<br>
                这是 img 元素 <img src="http://lorempixel.com/24/24" alt=""> 的例子<br>
                这是 <ins>ins 元素</ins> 的例子<br>
                这是 <kbd>kbd 元素</kbd> 的例子<br>
                这是 <mark>mark 元素</mark> 的例子
            </p>
        </div>
    </div>

    <div class="pure-u-1-2">
        <div class="l-box">
            <p>
                这是 <q>q 元素 <q>inside</q> a q 元素</q> 的例子<br>
                这是 <s>s 元素</s> 的例子<br>
                这是 <samp>samp 元素</samp> 的例子<br>
                这是 <small>small 元素</small> 的例子<br>
                这是 <span>span 元素</span> 的例子<br>
                这是 <strong>strong 元素</strong> 的例子<br>
                这是 <sub>sub 元素</sub> 的例子<br>
                这是 <sup>sup 元素</sup> 的例子<br>
                这是 <u>u 元素</u> 的例子<br>
                这是 <var>var 元素</var> 的例子
            </p>
        </div>
    </div>
</div>
