{{setTitle status}}

{{> header}}

<div class="content">
    <div class="error">
        <p class="error-msg">
          {{#if message}}
            {{message}}
          {{else}}
            好像出错了:(
          {{/if}}
        </p>
    </div>
</div>
