<form class="pure-form">
    <fieldset>
        <legend>行内表单</legend>

        <input type="email" placeholder="邮箱">
        <input type="password" placeholder="密码">

        <label for="{{id 'remember'}}">
            <input id="{{id 'remember'}}" type="checkbox"> 记录我
        </label>

        <button type="submit" class="pure-button pure-button-primary">登录</button>
    </fieldset>
</form>
