<form class="pure-form">
    <fieldset class="pure-group">
        <input type="text" class="pure-input-1-2" placeholder="用户名">
        <input type="text" class="pure-input-1-2" placeholder="密码">
        <input type="email" class="pure-input-1-2" placeholder="邮箱">
    </fieldset>

    <fieldset class="pure-group">
        <input type="text" class="pure-input-1-2" placeholder="另一个组">
        <input type="text" class="pure-input-1-2" placeholder="更多选项">
    </fieldset>

    <button type="submit" class="pure-button pure-input-1-2 pure-button-primary">登录</button>
</form>
