<div class="pure-g-r">
    <div class="pure-u-1-2 layout-hack">
        <div class="l-box">
            <h3>Fast</h3>
            <p>
                YUI的轻量级的核心和模块化的架构使得它极具扩展性、快速性和健壮性。YUI是雅虎的前端工程题开发的，在世界上很多流行的网站中起了重要的作用。
            </p>
        </div>
    </div>

    <div class="pure-u-1-2 layout-hack">
        <div class="l-box">
            <h3>Complete</h3>
            <p>
                YUI的API直观，有良好的文档，这让你可以只操作基本的DOM，就可以在桌面浏览器、移动设备和服务器上打造一个高效的、可维护的应用。
            </p>
        </div>
    </div>

    <div class="pure-u-1-2 layout-hack">
        <div class="l-box">
            <h3>Industrial Strength</h3>
            <p>
                一个活跃的社区，一个强大的架构，一个综合的工具套件，这些可以帮你把简单地页面合并成一个web应用。
            </p>
        </div>
    </div>

    <div class="pure-u-1-2 layout-hack">
        <div class="l-box">
            <h3>Free & Open</h3>
            <p>
                YUI对所有的用户免费，并且源码托管在GitHub上。在Freenode的论坛和#yui IRC 频道上，你总可以看到YUI核心成员。欢迎提交请求。
            </p>
        </div>
    </div>

    <div class="pure-u-1 l-centered">
        <img src="http://24.media.tumblr.com/31f24c22894d6d46a7b6f4b0687db9cd/tumblr_mnh0uemhCk1st5lhmo1_1280.jpg" class="pure-u"
             alt="样例图片，以满足响应式图片的需求">
    </div>

    <div class="pure-u-2-5 layout-hack">
        <div class="l-box">
            <h3>五分之二列</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur fermentum dui turpis.
            </p>
        </div>
    </div>

    <div class="pure-u-3-5 layout-hack">
        <div class="l-box">
            <h3>五分之三列</h3>
            <p>
                Quisque ac magna eget est porta varius ut eget quam. Curabitur tincidunt gravida nisl.
            </p>

            <p>
                Fusce accumsan, sem vitae tempus tempor, nulla lectus interdum felis, eget molestie urna mauris vel elit. Curabitur vel ipsum nulla.
            </p>
        </div>
    </div>
</div>
