<div>
    <style scoped>

        .pure-button-success,
        .pure-button-error,
        .pure-button-warning,
        .pure-button-secondary {
            color: white;
            border-radius: 4px;
            text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
        }

        .pure-button-success {
            background: rgb(28, 184, 65); /* 这是绿色 */
        }

        .pure-button-error {
            background: rgb(202, 60, 60); /* 这是褐红色 */
        }

        .pure-button-warning {
            background: rgb(223, 117, 20); /* 这是橙色 */
        }

        .pure-button-secondary {
            background: rgb(66, 184, 221); /* 这是浅蓝色 */
        }

    </style>

    <button class="pure-button pure-button-success">成功按钮</button>
    <button class="pure-button pure-button-error">错误按钮</button>
    <button class="pure-button pure-button-warning">警告按钮</button>
    <button class="pure-button pure-button-secondary">次要按钮</button>
</div>
