<div>
    <style scoped>

        .pure-button-xsmall {
            font-size: 70%;
        }

        .pure-button-small {
            font-size: 85%;
        }

        .pure-button-large {
            font-size: 110%;
        }

        .pure-button-xlarge {
            font-size: 125%;
        }

    </style>

    <button class="pure-button pure-button-xsmall">特小按钮</button>
    <button class="pure-button pure-button-small">小按钮</button>
    <button class="pure-button">正常按钮</button>
    <button class="pure-button pure-button-large">大按钮</button>
    <button class="pure-button pure-button-xlarge">特大按钮</button>
</div>
